<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Tytuł postu - Alpaca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../vendor/fontawesome/fontawesome.js"></script>
    <script src="../vendor/fontawesome/solid.js"></script>

    <script src="../vendor/jquery/jquery-3.4.0.js"></script>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="mb-5">Kontakt</h1>
                <h5>Wszelkie pytania oraz zgłoszenia błędów prosimy kierować na adres:
                    <a href="mailto:support@alpaca.com">support@alpaca.com</a>
                </h5>
            </div>
        </div>
    </div>

</body>

</html>