<!DOCTYPE html>
<html lang="pl">

<head>
    <title>NAZWA_GRUPY - Alpaca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../vendor/fontawesome/fontawesome.js"></script>
    <script src="../vendor/fontawesome/solid.js"></script>

    <script src="../vendor/jquery/jquery-3.4.0.js"></script>
    <script src="../js/group.js"></script>
</head>

<body>
    <div id="group-banner">
        <div id="group-banner-name">Nazwa grupy</div>
        <div id="group-banner-descr">Jakiś dłuższy opis grupy</div>
    </div>
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mb-2">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        Kolejna reklama bo kto nam zabroni?
                    </div>
                </div>

                <!--POSTY-->

                <a href="#" class=" link-blank">
                    <article class="card card-dark mb-3">
                        <header class="card-header bg-dark text-white">
                            <div class="post-info">
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span class="user-icon-name">User_2</span>
                                </div>
                                <div class="post-date">
                                    12-03-2018 21:05
                                </div>
                                <div class="post-comments">Komentarze: 1024</div>
                            </div>
                            <div class="post-title">Post z obrazkiem</div>
                        </header>
                        <div class="card-body">
                            <span>Tekstowa część postu</span>
                            <img src="https://img-9gag-fun.9cache.com/photo/aVYRg2w_460swp.webp"
                                class="post-content-img" />
                            <span>A tutaj dalsza część postu</span>
                        </div>
                    </article>
                </a>

                <a href="#" class=" link-blank">
                    <article class="card card-dark mb-3">
                        <header class="card-header bg-dark text-white">
                            <div class="post-info">
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span class="user-icon-name">User_2</span>
                                </div>
                                <div class="post-date">
                                    12-03-2018 21:05
                                </div>
                                <div class="post-comments">Komentarze: 1024</div>
                            </div>
                            <div class="post-title">Post z obrazkiem</div>
                        </header>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
                            scelerisque sed, lacinia in, mi.
                            Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.
                            Quisque
                            semper justo at risus.
                            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere
                            libero dui id orci. Nam congue,
                            pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                            Etiam
                            sit amet lectus quis est
                            congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                            consectetuer
                            consequat, purus sapien
                            ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras
                            suscipit, urna at aliquam
                            rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                        </div>
                    </article>
                </a>

                <!--<a href="#" class="link-blank">
                    <article class="post">
                        <header class="post-header">
                            <div class="post-info">
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span class="user-icon-name">User_3</span>
                                </div>
                                <div class="post-date">
                                    12-03-2018 21:05
                                </div>
                                <div class="post-comments">Komentarze: 1024</div>
                            </div>
                            <div class="post-title">Post z samym tekstem</div>
                        </header>
                        <div class="post-content">
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
                                scelerisque sed, lacinia in, mi.
                                Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.
                                Quisque
                                semper justo at risus.
                                Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere
                                libero dui id orci. Nam congue,
                                pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                                Etiam
                                sit amet lectus quis est
                                congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                                consectetuer
                                consequat, purus sapien
                                ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras
                                suscipit, urna at aliquam
                                rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.</span>
                        </div>
                    </article>
                </a>-->
            </div>

            <!--PRAWA STRONA-->

            <aside id="group-right" class="col-md-4">
                <button class="btn btn-primary mb-2 w-100" id="subscribe-btn">Subskrybuj</button>
                <a href="add_post" class="btn btn-primary mb-2 w-100" role="button">Dodaj post</a>
                <div class="card mb-2">
                    <div class="card-body">
                        <div>Właściciel: <span style="font-weight: 600; font-size: 1.3em">User_1</span></div>
                        <div>Subskrybenci: <span style="font-weight: 600; font-size: 1.3em">1 257 185</span></div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <h1>REKLAMA</h1>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header bg-secondary text-light">Moderatorzy</div>
                    <div class="card-body">
                        <ul class="list-thin">
                            <li>
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span>User_1</span>
                                </div>
                            </li>
                            <li>
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span>User_4</span>
                                </div>
                            </li>
                            <li>
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span>User_7</span>
                                </div>
                            </li>
                            <li>
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span>User_345</span>
                                </div>
                            </li>
                            <li>
                                <div class="user-badge">
                                    <div class="user-avatar">
                                        <i class="fas fa-user user-icon"></i>
                                    </div>
                                    <span>User_2146</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-header bg-secondary text-light">Zasady grupy</div>
                    <div class="card-body">
                        <ul class="list-thin list-arrow">
                            <li>Zasada_1</li>
                            <li>Zasada_2</li>
                            <li>Zasada_3</li>
                            <li>Zasada_4</li>
                            <li>Zasada_5</li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</body>

</html>