<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Powiadomienia - Alpaca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../vendor/fontawesome/fontawesome.js"></script>
    <script src="../vendor/fontawesome/solid.js"></script>

    <script src="../vendor/jquery/jquery-3.4.0.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Powiadomienia</h1>
                <div class="mt-4">
                    <div class="notification">
                        <div class="notification-header">23 marca 2019</div>
                        <div class="card notification-body">
                            <div>Nowy komentarz pod twoim postem: tytuł_postu</div>
                            <div>A tutaj bedzie tytuł postu</div>
                            <div class="new-notification-indicatior"></div>
                        </div>
                    </div>
                    <div class="notification">
                        <div class="notification-header">22 marca 2019</div>
                        <div class="card notification-body">
                            <div>Nowy komentarz pod twoim postem: tytuł_postu</div>
                            <div>A tutaj bedzie tytuł postu</div>
                            <div class="new-notification-indicatior"></div>
                        </div>
                    </div>
                    <div class="notification">
                        <div class="notification-header">22 marca 2019</div>
                        <div class="card notification-body">
                            <div>Nowy komentarz pod twoim postem: tytuł_postu</div>
                            <div>A tutaj bedzie tytuł postu</div>
                        </div>
                    </div>
                    <div class="notification">
                        <div class="notification-header">5 marca 2019</div>
                        <div class="card notification-body">
                            <div>Nowy komentarz pod twoim postem: tytuł_postu</div>
                            <div>A tutaj bedzie tytuł postu</div>
                        </div>
                    </div>
                    <div class="notification">
                        <div class="notification-header">2 lutego 2019</div>
                        <div class="card notification-body">
                            <div>Nowy komentarz pod twoim postem: tytuł_postu</div>
                            <div>A tutaj bedzie tytuł postu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>