<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Tytuł postu - Alpaca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../vendor/fontawesome/fontawesome.js"></script>
    <script src="../vendor/fontawesome/solid.js"></script>

    <script src="../vendor/jquery/jquery-3.4.0.js"></script>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <article class="card card-dark mb-3">
                    <header class="card-header bg-dark text-white">
                        <div class="post-info">
                            <div class="user-badge">
                                <div class="user-avatar">
                                    <i class="fas fa-user user-icon"></i>
                                </div>
                                <span class="user-icon-name">User_2</span>
                            </div>
                            <div class="post-date">
                                12-03-2018 21:05
                            </div>
                            <div class="post-comments">Komentarze: 1024</div>
                        </div>
                        <div class="post-title">Tekstowy post</div>
                    </header>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a,
                        scelerisque sed, lacinia in, mi.
                        Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.
                        Quisque
                        semper justo at risus.
                        Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere
                        libero dui id orci. Nam congue,
                        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                        Etiam
                        sit amet lectus quis est
                        congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                        consectetuer
                        consequat, purus sapien
                        ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras
                        suscipit, urna at aliquam
                        rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.
                    </div>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div id="comments-separator">Komentarze</div>
                <div class="user-comment mx-4 mb-1">
                    <form class="clearfix" action="#" method="POST">
                        <textarea class="form-control mt-2" rows="3" placeholder="Twój komentarz..."
                            required></textarea>
                        <button type="submit" class="btn btn-primary mt-2 float-right">Skomentuj</button>
                    </form>
                </div>
                <div class="comment">
                    <div class="mb-2">
                        <div class="user-badge">
                            <div class="user-avatar">
                                <i class="fas fa-user user-icon"></i>
                            </div>
                            <span class="user-icon-name">Ussser_25</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            Krótki komentarz
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="mb-2">
                        <div class="user-badge">
                            <div class="user-avatar">
                                <i class="fas fa-user user-icon"></i>
                            </div>
                            <span class="user-icon-name">Ussser_22</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            er justo at risus.
                            Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere
                            libero dui id orci. Nam congue,
                            pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                            Etiam
                            sit amet lectus quis est
                            congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                            consectetuer
                            consequat, pur
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <div class="mb-2">
                        <div class="user-badge">
                            <div class="user-avatar">
                                <i class="fas fa-user user-icon"></i>
                            </div>
                            <span class="user-icon-name">Ussser_2</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            nenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere
                            libero dui id orci. Nam congue,
                            pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                            Etiam
                            sit amet lectus quis est
                            congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                            consectetuer
                            consequat, purus sapien
                            ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis augue. Cras
                            suscipit, urna at aliquam
                            rhoncus, urna quam viverra nisi, in interdum massa
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>