<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Wyszukiwanie - Alpaca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../vendor/fontawesome/fontawesome.js"></script>
    <script src="../vendor/fontawesome/solid.js"></script>

    <script src="../vendor/jquery/jquery-3.4.0.js"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Wyniki wyszukiwania: jakaś grupa</h2>
                <div class="list-group mt-5">
                    <div class="list-group-item mb-2">
                        <a href="#" class="search-item link-blank">
                            <div class="search-item-lock">
                                <i class="fas fa-lock" title="Private"></i>
                            </div>
                            <strong class="ml-3 search-item-name">Nazwa grupy</strong>
                            <small class="ml-4 search-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</small>
                        </a>
                    </div>
                    <div class="list-group-item mb-2">
                        <a href="#" class="search-item link-blank">
                            <div class="search-item-lock">
                            </div>
                            <strong class="ml-3 search-item-name">Nazwa grupy</strong>
                            <small class="ml-4 search-item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sedexercitation ullamco</small>
                        </a>
                    </div>
                    <div class="list-group-item mb-2">
                        <a href="#" class="search-item link-blank">
                            <div class="search-item-lock">
                            </div>
                            <strong class="ml-3 search-item-name">Nazwa grupy</strong>
                            <small class="ml-4 search-item-desc">Lut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>