<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Group Directory</title>
</head>

<body>

<div class="container">

	<h3>List of existing Discussion Groups</h3>
	<hr>
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Nazwa grupy</th>
		
				<th>Infoc</th>
				<th>Zasady</th>
			
				<th>Opis</th>
				
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="group : ${listOfGroups}">
			
				<td th:text="${group.name}" />	
					<td th:text="${group.groupInfo}" />
					<td th:text="${group.rules}" />
				<td th:text="${group.shortDescription}" />	
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>
