<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Regulamin - Alpaca</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../vendor/fontawesome/fontawesome.js"></script>
    <script src="../vendor/fontawesome/solid.js"></script>

    <script src="../vendor/jquery/jquery-3.4.0.js"></script>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="mb-4">Regulamin serwisu Alpaca</h1>
                <strong>§1. Postanowienia ogólne</strong>
                <ol class="mt-2">
                    <li>
                        Niniejszy regulamin dotyczy zasad korzystania z serwisu internetowego ALPACA zwanego dalej
                        serwisem, w tym forum
                        dyskusyjnego zwanego dalej forum obsługiwanego przez firmę Alpaca Software 1600 Amphitheatre
                        Pkwy,
                        Mountain View, CA
                        94043.
                    </li>
                    <li>
                        Regulamin dotyczy każdego kto w jakimkolwiek stopniu korzysta z serwisu, zarówno osób
                        zarejestrowanych jak i
                        niezalogowanych (nie posiadających konta w serwisie).
                    </li>
                    <li>
                        Pojęciem korzystanie z serwisu określa się szereg funkcji dokonywanych na stronach internetowych
                        serwisu, w tym
                        przeglądanie, publikowanie materiałów czy uczestniczenie w dyskusji na forum.
                    </li>
                    <li>
                        Materiałem określa się dokument umieszczony w serwisie w tym: obrazy, zdjęcia, teksty.
                    </li>
                    <li>
                        Postem określa się pojedynczą wiadomość umieszczoną na forum.
                    </li>
                </ol>
                <strong>§2. Rejestracja w serwisie</strong>
                <ol class="mt-2">
                    <li>
                        Rejestracja jest dobrowolna i nie jest wymagana od użytkownika serwisu.
                    </li>
                    <li>
                        Rejestracja jest darmowa.
                    </li>
                    <li>
                        Od osoby rejestrującej wymaga się:
                        <ol>
                            <li>
                                Dbanie o dobro serwisu i wykorzystywania go w celach do tego przeznaczonych, tj. nie
                                umieszczania w nim treści
                                obraźliwych lub pornograficznych.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Materiałem określa się dokument umieszczony w serwisie w tym: obrazy, zdjęcia, teksty.
                    </li>
                    <li>
                        Postem określa się pojedynczą wiadomość umieszczoną na forum.
                    </li>
                </ol>
                <strong>§3. Materiały umieszczone w serwisie</strong>
                <ol class="mt-2">
                    <li>
                        Serwis nie odpowiada za wykorzystanie materiałów umieszczonych w serwisie oraz nie ponosi
                        odpowiedzialności za szkody
                        wyrządzone w wyniku ich użycia, aczkolwiek autorzy zobowiązują się dokonać wszelkich starań, aby
                        materiał umieszczony na
                        serwerze był jak najbardziej rzetelny
                    </li>
                    <li>
                        Wszelkie umieszczone w serwisie materiały podlegają ustawie o prawie autorskim (Dz. U. z dnia
                        23 lutego 1994 r. Nr
                        24, poz. 83).
                    </li>
                    <li>
                        Umieszczając materiał w serwisie oświadczasz, iż jesteś jego autorem lub jego licencja
                        pozwala na umieszczenie go w
                        serwisie.
                    </li>
                    <li>
                        Serwis zastrzega sobie prawo do wykorzystywania materiału w celach promocyjnych, reklamowych
                        lub innych mających na
                        celu popularyzację serwisu lub dotarcie do większej rzeszy odbiorców. </li>
                    <li>
                        Serwis oraz autor dokonają wszelkich starań, aby materiał umieszczany był sprawdzony i
                        rzetelny.
                    </li>
                    <li>
                        Zabrania się umieszczania w serwisie tzw. złośliwego oprogramowania, z wyjątkiem materiałów o
                        których mowa w §3.2.
                        Programy tego typu będą usuwane.
                    </li>
                </ol>
                <strong>§4. Forum dyskusyjne</strong>
                <ol class="mt-2">
                    <li>
                        Korzystając z forum dyskusyjnego akceptujesz postanowienia tego regulaminu i zobowiązujesz
                        się do przestrzegania reguł obowiązujących w serwisie.
                    </li>
                    <li>
                        Z forum może korzystać dowolna osoba zarejestrowana lub nie jeżeli dostęp do serwisu nie
                        został jej odebrany (patrz
                        §6.).
                    </li>
                    <li>
                        Administratorzy oraz moderatorzy nie odpowiadają za treść publikowanych postów.
                    </li>
                    <li>
                        Administratorzy oraz moderatorzy dokonają wszelkich starań, aby na forum nie było
                        <ol>
                            <li>
                                Materiałów reklamowych, tzw. spamu
                            </li>
                            <li>
                                Treści obraźliwych
                            </li>
                        </ol>
                    </li>
                    <li>
                        Zanim opublikujesz wątek/post na forum jesteś zobowiązany:
                        <ol>
                            <li>
                                Sprawdzić, czy odpowiedź na Twoje pytanie nie znajduje się w materiałach umieszczonych w
                                tym serwisie.
                            </li>
                            <li>
                                Upewnić się (korzystając z wyszukiwarki) czy podobne pytanie nie było wcześniej
                                zadane.
                            </li>
                            <li>
                                Upewnić się czy podany przez Ciebie post nie pojawił się wcześniej w serwisie.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Udzielając się na forum zgadzasz się na przetwarzanie, modyfikowanie wpisów przez Ciebie
                        dokonanych..
                    </li>
                    <li>
                        Administrator grupy zastrzega sobie prawo do usunięcia wpisu na forum bez przyczyny.
                    </li>
                </ol>
                <strong>§5. Reklamacje</strong>
                <ol class="mt-2">
                    <li>
                        Reklamacja dotycząca świadczonych usług można kierować w formie elektronicznej na adres:
                        support@alpaca.com
                    </li>
                    <li>
                        Serwis rozpatrzy reklamację bez zbędnej zwłoki, nie później niż w ciągu 14 dni od momentu
                        otrzymania reklamacji.
                    </li>
                </ol>
                <strong>§6. Inne</strong>
                <ol class="mt-2">
                    <li>
                        W razie złamania reguł tego regulaminu, administrator grupy zastrzega sobie prawo do
                        zablokowania dostępu do wcześniej
                        wymienionej grupy.
                    </li>
                </ol>
            </div>
        </div>
    </div>

</body>

</html>